# Created by https://www.toptal.com/developers/gitignore/api/netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.mf

# Ignore logs
*.log

# Ignore DB dumps
*.sql

# Ignore build output
/build/
/dist/

# Ignore Netbeans private config
/nbproject/private/
